
<body>
  <div id="cont">
    <div id="icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="110" height="110" fill="currentColor" class="bi bi-buildings" viewBox="0 0 16 16">
        <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z"/>
        <path d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z"/>
      </svg>
      <span id="title">Register Hotel</span>
    </div>
    <div id="size">
    <form [formGroup]="ownerHotelData">
    <div class="container">
        <label for="" class="col-sm-2 col-form-label">Owner Name</label>
        <input type="text" class="form-control form-control is-invalid" formControlName="ownername" [ngClass]="{'is-invalid':ownerHotelData.get('ownername')?.hasError('required') && ownerHotelData.get('ownername')?.touched }" appCustom>
    </div>
    <div class="container">
        <label for="" class="col-sm-2 col-form-label">Owner MobNo</label>
        <input type="text" class="form-control form-control is-invalid" formControlName="ownermob" [ngClass]="{'is-invalid':ownerHotelData.get('ownermob')?.hasError('required') && ownerHotelData.get('ownermob')?.touched || ownerHotelData.get('ownermob')?.hasError('minlength') }"appCustom2>
    </div>
    <div class="container">
        <label for="" class="col-sm-2 col-form-label">Hotel Name</label>
        <input type="text" class="form-control form-control is-invalid" formControlName="hotelname" [ngClass]="{'is-invalid':ownerHotelData.get('hotelname')?.hasError('required') && ownerHotelData.get('hotelname')?.touched } "appCustom>
    </div>
    <div class="container">
        <label for="" class="col-sm-2 col-form-label">Hotel Address</label>
        <input type="text" class="form-control form-control is-invalid" formControlName="hoteladdress" [ngClass]="{'is-invalid':ownerHotelData.get('hoteladdress')?.hasError('required') && ownerHotelData.get('hoteladdress')?.touched }">
    </div>
    <div class="container">
        <label for="" class="col-sm-2 col-form-label">Hotel Mobile</label>
        <input type="text" class="form-control form-control is-invalid" formControlName="hotelmob" [ngClass]="{'is-invalid':ownerHotelData.get('hotelmob')?.hasError('required') && ownerHotelData.get('hotelmob')?.touched || ownerHotelData.get('hotelmob')?.hasError('minlength')}"appCustom2>
    </div>
    <div class="container">
        <label for="" class="col-sm-2 col-form-label">Hotel Menu</label>
        <input type="text" class="form-control form-control is-invalid" formControlName="hotelmenu" [ngClass]="{'is-invalid':ownerHotelData.get('hotelmenu')?.hasError('required') && ownerHotelData.get('hotelmenu')?.touched }"appCustom>
    </div>
    <div class="container">
        <label for="" class="col-sm-2 col-form-label">Room Avaible</label>
        <input type="text" class="form-control form-control is-invalid" formControlName="room" [ngClass]="{'is-invalid':ownerHotelData.get('room')?.hasError('required') && ownerHotelData.get('room')?.touched }" appCustom2>
    </div>
    <div class="container">
        <label for="" class="col-sm-2 col-form-label">Password</label>
        <input type="text" class="form-control form-control is-invalid" formControlName="pass" [ngClass]="{'is-invalid':ownerHotelData.get('pass')?.hasError('required') && ownerHotelData.get('pass')?.touched }">
    </div>
    <div>
        <input type="checkbox" class="form-check-input is-invalid" formControlName="check" [ngClass]="{'is-invalid':ownerHotelData.get('check')?.hasError('required') }"> 
        <label class="form-check-label" for="defaultCheck1 "> I agree all statements in Terms and Conditions </label>
    </div>
    <div>
        <button  class="btn btn-success" (click)="submit(ownerHotelData.value)">Submit</button>
    </div>
    </form>
</div>
  </div>
  <button class="btn btn-warning" id="back" routerLink="/owner">Back</button>
</body>
