
body{
    background-image: url("~src/assets/the-anam-_twiIcIsp2s-unsplash.jpg");
    background-size: cover;
    width: 1500px;
    height: 1000px;
}
#cont{
    background-color: lightblue;
    width: 500px;
    margin: auto;
    height: 900px;
    position: absolute;
    margin-top: 50px;
    margin-left: 475px;
}
.form-control.form-control{
    width: 400px;
    margin-left: 35px;
}
.col-sm-2.col-form-label{
    width: 390px;
    margin-left: 40px;
}
.form-check-input{
    position: absolute;
    margin-left: 65px;
    margin-top: 33px;
}
.form-check-label{
    position: absolute;
    margin-left: 86px;
    margin-top: 29px;
}
.btn.btn-success{
    position: absolute;
    margin-left: 200px;
    margin-top: 80px;
}
#back{ 
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
}
#size{
    position: absolute;
    margin-top: 150px;
}
#icon{
    position: absolute;
    margin-left: 184px;
    margin-top: 15px;
}
#title{
    position: absolute;
    font-size: 24px;
    font-weight:600 ;
}
#eye{
    position: relative;
    left: 380px;
    bottom: 30px;
}
#customRadio2{
    position: relative;
    left: -390px;
    top: 40px;
}
#rdlabel{
    position: relative;
    left: 20px;
}
#rdlabel2{
    position: relative; 
    top: -38px;
    left: 128px;
}
#customRadio3{
    position: relative;
    left: -287px;
    top: 2px;
}
#terms{
    position: relative;
    top: -30px;
}
#btn{
    position: relative;
    top: -35px;
}
#dropdown{
    position: relative;
    right: 255px;
}


