body{
    width: 1500px;
}
#Outer{
    width: 500px;
}
.card.card-registration.my-4{
    width: 600px;
    margin: auto;
}
.card-body.p-md-5.text-black{
    width: 504px;
    margin-left: 40px;
}
.h-100.bg-dark{
    background-image: url("~src/assets/4882066.jpg");
    background-size: cover;
}
.card.rounded-3.text-black{
    background-color: firebrick;
}
.card-body.p-md-5.mx-md-4{
    background-color: bisque;
}