body{
    width: 1500px;
    height: 1300px;
}
#Outer{
    width: 500px;
}
.card.card-registration.my-4{
    width: 600px;
    margin: auto;
    background-color: antiquewhite;
    box-shadow: 0px 1px 5px 7px rosybrown;
}
.card-body.p-md-5.text-black{
    width: 504px;
    margin-left: 40px;
}
.h-100.bg-dark{
    background-image: url("~src/assets/4882066.jpg");
    background-size: 1500px 1300px;
    background-repeat: no-repeat;

}
.card.rounded-3.text-black{
    background-color: firebrick;
}
.card-body.p-md-5.mx-md-4{
    background-color: bisque;
    
}
#btn{
    position: absolute;
    margin-top: -1200px;
    margin-left: 51px;
}
h2{
    left: 65px;
    position: relative;
}