<body>
    <nav class="navbar bg-primary">
        <div>
          <i class="font-weight-bolder">Lotus <span class="text-body">Resort</span></i>
          <span id="btn"> 
            <!-- <button class="btn btn-outline-dark" routerLink="/home">Home</button> -->
            <button class="btn btn-outline-dark" (click)="redirect('/admin')">Admin</button>
            <button class="btn btn-outline-dark" (click)="redirect('/owner')">Owner</button>
            <button class="btn btn-outline-dark" (click)="redirect('/user')">User</button>
          </span>
        </div>
      </nav>
</body>

