body{
    background-image: url("~src/assets/ciudad-maderas-MXbM1NrRqtI-unsplash.jpg");
    background-size: cover;
    height: 750px;
    width: 1500px;
}
.font-weight-bolder{
    font-weight: bolder;
    font-size: 40px;
    padding-left: 10px;
    color: whitesmoke;
}
.text-body{
    font-size: 20px;
}
.btn.btn-outline-dark{
    margin-left:20px;
    margin-bottom: 8px;
    border: 2px solid;
}
#btn{
   margin-left: 857px; 
}
.navbar.bg-primary{
    width: 1500px
}