body{
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	background-image: url("~src/assets/1shjjjjkkkl_generated.jpg");
    background-size: cover;
    height: 800px;
    width: 1500px;
}

form{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.card-title{ font-weight:300; }

.btn{
	font-size: 14px;
	margin-top:55px;
    margin-left: 115px;
}

.login-form{ 
	width:400px;
    margin-left: 800px;
	height: 370px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

span{
	font-size:14px;
}
.error{
	color: red;
	position: absolute;
    top: 265px;
}
.form-group{
    padding-top: 5px;
}
#btn{
    font-size: 14px;
    margin-top: -650px;
    position: absolute;
    margin-left: -1300px;
}