.h-100.gradient-form{
    background-image: url("~src/assets/pexels-suzy-hazelwood-1629236.jpg");
    background-size: cover;
    height: 750px;
    width: 1500px;
}
// #bg{
//     height: 500px;
//     width: 400px;
//     border: 1px solid whitesmoke;
//     margin: auto;
// }
.card-body.p-md-5.mx-md-4{
    padding: 2rem !important;
}
.card-body.p-md-5.mx-md-4{
    width: 450px;
}
.container.py-5.h-100{
    width: 700px;
}
.col-xl-10{
    width: 74.333333%;
}