<body>
  <nav class="navbar navbar-dark bg-primary">
    <div>
      <i class="font-weight-bolder">Lotus <span class="text-body">Resort</span></i>
      <span id="btn"> 
        <button class="btn btn-outline-dark" routerLink="/home">Home</button>
        <button class="btn btn-outline-dark" (click)="userJourney('/user/userLogin')">Sign In</button>
        <button class="btn btn-outline-dark" (click)="userJourney('/user/userSignUp')">Sign Up</button>
        <button class="btn btn-outline-dark" (click)="userJourney('/user/viewHotelList')" *ngIf="showHotelstoUserFlag">View Hotel List</button>
      </span>
    </div>
  </nav>
</body>
